* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: -webkit-linear-gradient(#F60554,#F6D41B, #F6D41B);
    background: linear-gradient(#F60554,#F6D41B, #F6D41B); 
}

header {
    color: #F6D41B;
    width: 100vw;
    padding: 20px;
    font-weight: 700;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    p {
        font-weight: 500;
    }

    a {
        color: #F6D41B;
    }
}

.calculator-container {
    padding: 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .calculator-body {
        margin-top: 120px;
        width: 70vw;
        background-color: #F60554;
        border-radius: 20px;
        border: 2px dashed #F6D41B;

        .calculator-panel {
            width: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            text-align: right;
            font-size: 20pt;
            font-weight: 700;
            padding: 1%;
            background-color: #F6D41B;
            color: #F60554;
        }

        .calculator-keyboard {
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .keyboard-numbers, .keyboard-operations {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                flex-direction: column;

                button {
                    padding: 10px;
                    width: 40px;
                    margin: 3px;
                    background-color: #F6D41B;
                    border-radius: 7px;
                    color: #F60554;
                    transition: 200ms;
                    font-size: 12pt;

                    &:hover {
                        opacity: 0.8;
                        transform: scale(1.05);
                    }
                }

                #btn-clear {
                    background-color: #F60554;
                    color: #F6D41B;
                    border: 2px solid #F6D41B;

                }

                #btn-result {
                    border: 3px dashed #F60554;
                }

                #btn-clear, #btn-result {
                    width: 170px;
                }
            }
        }
    }
}